.main-menu .menu-item, .main-menu .menu-item a, .mobile_menu_header{
	font-family:Lato;font-size:15px;line-height:15px;color:#000;
}

.widget-title,
.widget-title a,
.tribe-events-list-event-title,
#tribe-geo-results .tribe-events-list-event-title,
#tribe-geo-options .tribe-events-list-event-title,
.tribe-events-single-section-title,
.tribe-events-map-event-title
{
	font-family:Lato;font-size:26px;line-height:30px;color:#373737;
}

#tribe-events-content .tribe-events-single-section-title{
	font-family:Lato;font-size:26px;line-height:30px;color:#373737;
}

.comment-reply-title{
	font-family:Lato;font-size:26px;line-height:30px;color:#373737;
}

.cws-widget ul>li>a{color:#373737}
.cws-widget .post-list .time-post{color:#373737}
a:hover{color:#373737}
.news .cats{color:#373737}

.news h3>a{color:#373737}
.comments-part .comment_author{color:#373737}
.tribe-events-list-event-title{font-family:Lato;font-size:26px;line-height:30px;color:#373737;}

.tribe-events-list-event-title a{color:#373737;line-height:30px;}.accordion_title,

.tab,
.tab_widget.type-vertical .tab.active,
.callout_widget .text_part,
.milestone_content, .services .col_title,
.pricing_table_column:hover .content_part,
.pricing_table_column.active_table_column .content_part,
#title-404,#text-404 .sel,
.archive_item a, #lang_sel li>a,
#lang_sel_click ul ul a,
#lang_sel_click ul ul a:visited,
#lang_sel_list .lang_sel_sel:hover,
.services .details a:hover,
.toggle_widget.type-2 .accordion_section.active a:hover,
.tab_widget.type-vertical .tabs .tab.active {
	color:#373737;
}

#tribe-mini-calendar-month,
h2.tribe-events-page-title a:hover,
h2.tribe-events-page-title a:focus{
	color:#373737;
}

div.woocommerce form p.form-row label:not(.checkbox),
	.woocommerce-tabs form p label,
	ul.woocommerce-error li,
	.woocommerce-tabs .tabs li a,
	#comments .comment_container,
	.woocommerce .order .order-total,
	#searchform label.screen-reader-text,
	.widget_shopping_cart_content p,
	.woocommerce .woocommerce-tabs .shop_attributes th,
	.woocommerce #content h1.page-title{
		color:#373737;
}

body{font-family:Lato;font-size:14px;line-height:21px;word-spacing:0px;letter-spacing:0px;color:#7c7c7c;}
.wpcf7-response-output, .wpcf7-form-control-wrap{line-height:21px}
.tribe-events-event-cost{color:#7c7c7c}
.cws_language_bar #lang_sel a>*,
div.woocommerce td.actions input[type="text"]{font-size:14px}ul.product_list_widget li>*,
.woocommerce .toggle_sidebar .switcher{line-height:21px}